@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(to right, #3451C3, #DC2E56, #3451C3);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.home{
  position: relative;
}

.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

a{
  cursor: pointer;
}


.cave-wrapper {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: linear-gradient(to bottom, #111 0%, #000 100%);
}


.cave-entrance {
width: 220px;
height: 280px;
border-radius: 50% / 45%;
background: radial-gradient(circle at center, #0b0b0b 0%, #000 70%);
box-shadow: inset 0 0 40px #000, 0 0 30px #000;
cursor: pointer;
position: relative;
overflow: hidden;
}


.cave-entrance:hover {
box-shadow: inset 0 0 60px #000, 0 0 40px #111;
}


.cave-darkness {
position: absolute;
top: 15%;
left: 15%;
width: 70%;
height: 70%;
border-radius: 50%;
background: radial-gradient(circle at center, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.7) 70%, transparent 100%);
}


.cyber-logo12{
  filter: brightness(0) invert(1);

}